services:
  bdd:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: globalbank
    networks:
      - bank-net
    deploy:
      mode: replicated
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - "node.hostname==swarm-01"
      restart_policy:
        condition: any
    volumes:
      - bdd-vol:/var/lib/postgresql/data
networks:
  bank-net:
    driver: overlay

volumes:
  bdd-vol:
